html {
    box-sizing: border-box; }

    *,*::after, *::before {
        box-sizing: inherit;
    }

    body {
        font-family: 'Montserrat', sans-serif;
    }


.navigation {
        display:flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        padding-top: 12px;
        list-style-type: none;

        .navigation__logo {
            width: 113.21px;
            height: 35px;
		}

		.navigation__menu {
            width: 41px;
            height: 20px;
		}

		.navigation__btn {
            background-image: url(Картинки/Vector.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 52px;
            height: 32px;
            background-color: rgb(107, 90, 249);
            border-radius: 5px;
            border: 0px;
		}
}
.main {

		&__title {
		}

		&__picture {
		}

		&__text {
		}
}
.oferta {

		&_btn {
		}

		&__text {
		}
}

