html {
    box-sizing: border-box; }

    *,*::after, *::before {
        box-sizing: inherit;
    }

    body {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
        color:  rgb(42, 35, 103);
    }

    a {
        text-decoration: none;
        color: rgb(42, 35, 103);
    }

.navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 15px 10px;
        position: relative;

    }
        .navigation__logo { 
            width: 113.21px;
            height: 35px;
            display: block;
            text-align: center;

		}
        .navigation__info {
            display: none;
        }
        .navigation__btn__phone{
            display: none;
        }
        .navigation__social__container {
            display: none;
        }
        .navigation__link__container {
            display: none;
        }
        .display--none--mobile {
            display: none;
        }
        

        .navigation__menu {
            width: 41px;
            height: 20px;
            background-image: url(./Pictures/menu.svg);
            border: none;
            background-color: white;

		}
        .navigation__btn {
            background-image: url(./Pictures/Vector.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 52px;
            height: 32px;
            background-color: rgb(107, 90, 249);
            border-radius: 5px;
            border: 0px;
		}
        .navigation__btn__phone {
            display: none;
        }
        @media (min-width: 768px) { 

            .navigation__logo {
                width: 177.61px;
                height: 55px;
                
            }
            .navigation__logo--image {
                width: 177.61px;
                height: 55px;
            }
            .navigation__btn {
                width: 62px;
                height: 38.75px;
            }
            .navigation__menu {
                width: 41px;
                height: 20px;
            }
            .display--none--mobile {
                display: none;
            }
        }
        @media (min-width: 1440px) {
            .navigation {
                max-width: 1300px;
                margin: 0 auto;
            }
            .navigation__link__container {
                display: flex;
                width: 382px;
                height: 17px;
                justify-content: space-between;
            }
            .navigation__link {
                display: block;
                color:  rgb(42, 35, 103);
                font-weight: 700;

            }
            .navigation__btn__phone {
                display: block;
            width: 177px;
            height: 60px;
            background-color: rgb(107, 90, 249);
            border-radius: 5px;
            border: 0px;
            color: aliceblue;
            }
            .navigation__btn{
                display: none;
            }
             .navigation__menu {
                display: none;
            }
            .display--none--desktop {
                display: none;
            }
            .display--none--mobile {
                display: block;
            }
            .navigation__logo {
                width: 182px;
                height: 55px;
            }
            .navigation__logo--image {
                width: 182px;
                height: 55px;
            }
            .navigation__social__container{
                display: flex;
                width: 60px;
                justify-content: space-between;
            }
            .navigation__social {
                display: block;
            }
            .navigation__info {
                display: flex;
                flex-direction: column;
                align-items: end;

            }
            .navigation__info__number {
                font-weight: 800;
                font-size: 24px;
            }
            .navigation__info__time {
                font-weight: 700;
                font-size: 12px;
            }
        }



    .main__title {
            font-size: 18px;
            color: rgb(42, 35, 103);
            padding-left: 10px;
		}

		.main__picture {
          overflow: hidden;
          object-fit: cover;

        }

		.main__description {
            font-size: 12px;
            color: rgb(42, 35, 103);

		}
        @media (min-width: 768px) { 
            .main {
                display: flex;
                justify-content: space-between;
            }
            .main__title {
                font-size: 24px;
                width: 653px; 
            }
            .main__picture {
                align-self: flex-start;
                transform: scale(1.3);
                margin-top: 20px;
                order: 2;
                
            }
            .main__description {
                width: 356px;

            }
            .main__text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: stretch;
                gap: 100px;
            }


        }
        @media (min-width: 1440px) { 
            .main {
                justify-content: flex-start;
                gap: 50px;
            }
            .main__title {
                font-size: 36px;
            }
            .main__picture {
                transform: scale(2);

            }
            .main__text {
                align-items: flex-start;
                justify-content: flex-end;
                margin: 0;
                max-width: 1280px;
                gap: 150px;
            }
            .main__description {
                width: 619px;
                font-size: 16px;
            }
            section {
                max-width:1280px;
                margin: 0 auto;
            }

        }

.oferta { 
    display: flex;
    flex-direction: column;
    align-items: center;

}

    .oferta__btn {
        display: block;
        background-color: rgb(107, 90, 249);
        width: 275px;
        height: 60px;
        color: aliceblue;
        border: 0px;
        border-radius: 5px;
        
		}

		.oferta__text {
        font-size: 12px;
        color:rgb(42, 35, 103);
        text-align: center;
        width: 340px;
		}
    @media (min-width: 768px) {
        .oferta{

          width: 287px;

        }
        .oferta__text {
            text-align: left;
            width: 287px;

        }
    }
    @media (min-width: 1440px) {
        .oferta{
            width: 472px;
        }
        .oferta__text {
            text-align: left;
            width: 472px;
            font-size: 16px;
        }
        .oferta__btn{
            transform: translate(-100px);
        }
    }

    .important {
        color: rgb(107, 90, 249);
    }
    button:hover {
        background-color: rgb(152, 141, 249);
        border: 3px solid rgb(107, 90, 249);
    }
    li a:hover {
        color:  rgb(107, 90, 249);
    }



menu {
    position: relative;
    display: none;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(163, 161, 161, 0.85);
    z-index: 1;
}
.submenu {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100vw;
    height: 730px;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    list-style: none;
    align-items: center;
    padding: 0;
    gap: 28px;
    z-index: 1;
    
}

.submenu__link {
    text-align: center;
    width: 160px;
}

.submenu__link:first-child {
    margin-top: 60px;
}
.submenu__link:nth-child(2) {
    text-align: left;
}
.submenu__link a {
    text-decoration: none;
    color: rgb(42, 35, 103);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
.submenu__info {
    font-weight: 700;
    color:rgb(107, 90, 249);
    transform: translateY(200px)
}
.submenu__info:last-child {
    transform: translateY(180px)
}
@media (min-width: 768px) {
    .submenu {
       width: 50vw;
    }
}
@media (min-width: 1440px) {
    .submenu {
        display: none;
    }
    .overlay {
        display: none;
    }
}
