
.modal {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 80vw;
    height: 515px;
    border-radius: 10px;
    border: 0;
    position: fixed;
    margin: 10px;
}
.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.modal__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(126, 126, 126);
    width: 90%;
}
.modal__input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(152, 149, 180);
    height: 40px;
    
}
.modal__input::placeholder {
    color: rgb(152, 149, 180);
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 10px;
    }
.modal__input:focus-visible {
    
    outline: none;
}

.modal__title {
    color: rgb(42, 35, 103);
    font-size: 18px;
    font-weight: 700;
}
.modal__send {
    width: 90%;
    background-color: rgb(107, 90, 249);
    color: white;
    height: 60px;
    border: 0;
    border-radius: 10px;
}
.modal__description {
    color: rgb(152, 149, 180);
    font-size: 10px;
    font-weight: 500;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__img {
    max-width: 213px;
    width: 70%;
    padding-bottom: 10px;
}
.modal__close{
    position: absolute;
    bottom: 95%;
    left: 95%;
}
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(163, 161, 161, 0.85);
    z-index: 4;
    display: none;
}
@media (min-width: 768px) {
    .modal {
        max-width: 530px;
    }
    
}
@media (min-width: 1280px) {
    .modal {
        max-width: 760px;
    }
    .modal__close {
        bottom: 95%;
        left: 97%; 
    }
}